
h1, h2 {
    color: #261759;
	font-family: 'Lobster', cursive;
	text-align: center;
}

h1 {
	cursor: pointer;
}

body {
	padding-top: 60px;
}

article {
	color: #261759;
	text-align: justify;
	max-width: 500px;
    margin: auto;
	font-family: 'Bree Serif', serif;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
}