.navbar-custom {
    background-color: #04222B;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-item {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.opening{
	background-image: url('http://wallpapercraze.com/images/wallpapers/bluematrixcode(3)-268120.jpeg');
	height:712px;
}

.opening h1, p {
	color: white;
	margin:auto;
}

.opening .img{
	position:relative;
}
.opening img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 100px;
	left: 100px;
}

.opening .text{
	top: 170px;
	left: -90px;
	position: relative;
	
}

.opening .text h1 {
	font-size: 60px;
}

.opening .text p {
	font-size: 30px;
}

.tentang{
	height:712px;
	background-color:#13657E;
}

.tentang img {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	position: absolute;
	top: 150px;
	left: 100px;
}

.tentang .text{
	top: 220px;
	left: -110px;
	color: white;
	font-size: 19px;
	text-align: justify;
}

.pendidikan ul{
	margin-top:30px;
	margin-left:150px;
	color: white;
}

.pengalaman ul{
	margin-top:30px;
	margin-left:150px;
	color: white;
}

.pen{
	height:712px;
	background-color:#1A7895;
}

.pen .pendidikan, .pen .pengalaman{
	margin-top: 100px;
}

.pen .pendidikan h2,p{
	text-align: center;
	color: white;
}

.pen .pengalaman h2,p{
	text-align: center;
	color: white;
}

.projek{
	height:712px;
	background-color:#13657E;
	text-align: center;
}

.projek .p1 h2,.projek .p2 h2,.projek .p3 h2,.projek .p1 p,.projek .p2 p,.projek .p3 p {
	color:white;
}

.projek .p1, .projek .p2, .projek .p3{
	margin-top: 100px;
}

.projek img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.kontak{
	height: 300px;
	background-color: #1A7895;
	text-align: center;
}


#kontak_text {
	color: white;
	text-align:center;
}

.fa {
  height: 50px;
  width: 70px;
  border-radius: 30%;
  display: inline-block;
  margin-top: 50px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
	text-align : center;
	font-size: 50px
}

.fa-twitter {
    background: #55ACEE;
    color: white;
	text-align : center;
	font-size: 50px
}

.fa-instagram {
	background: #125688;
	color: white;
	text-align : center;
	font-size: 50px
}

body{
	position:relative;
	background-color: #1A7895;
}

h1,h2,p,a, article,ul, li {
	font-family: 'Roboto Mono', monospace;
}
