<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feril Bagus</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static '/css/new.css' %}">
	<script type="text/javascript" src="{% static '/jquery/jeq.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
</head>
<body style="height:1000px">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#njay">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="njay">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Saya</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Teman Kiri</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Teman Kanan</a>
				</li>
			</ul>
		</div>	
	</nav>
	<div class="container" style="margin-top">
		<h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
		<div class="tengah">
			<h1 id="feril">Profil Saya</h1>
			<img src="https://image.ibb.co/fKDrAK/f1.jpg"  width="150" height="150">
			<article id="main">&emsp; Nama saya adalah {{ name }}. 
			 NPM saya adalah {{ npm }}. 
			 Saya sedang kuliah di {{ college }}. 
			 Saya lahir di {{ born_place }} pada {{ born_date }}. 
			 Saya berumur {{ age }} tahun. 
			 Hobi saya adalah {{ hobby }}. </br>
			 deskripsi diri : Saya belajar PPW</article> 
		</div>
		
		<h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
		<div class="kiri">
			<h1 id="ringgi">Profil Teman Samping Kiri Saya</h1>
			<img src="https://scontent-atl3-1.cdninstagram.com/vp/b9768f9d0e5c09ef09c4ce70d49f46a3/5BCFA7E8/t51.2885-19/s150x150/35616454_362626150930675_5128621431701110784_n.jpg"  width="150" height="150">
			<article id="person1">&emsp; Nama teman saya adalah {{ name_1 }}. 
			 NPM teman saya adalah {{ npm_1 }}.
			 Teman saya sedang kuliah di {{ college }}. 
			 Teman saya lahir di {{ born_place_1 }} pada {{ born_date_1 }}. 
			 Teman saya berumur {{ age_1 }} tahun. 
			 Hobi teman saya adalah {{ hobby_1 }}. </br>
			 deskripsi diri : Ringgi lucu </article>
		</div>
		
		<h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
		<div class="kanan">
			<h1 id=abd>Profil Teman Samping Kanan Saya</h1>
			<img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width= 150 height=150>
			<article id=person2> &emsp; Nama teman saya adalah {{ name_2 }}. 
			 NPM teman saya adalah {{ npm_2 }}. 
			 Teman saya sedang kuliah di {{ college }}. 
			 Teman saya lahir di {{ born_place_2 }} pada {{ born_date_2 }}. 
			 Teman saya berumur {{ age_2 }} tahun. 
			 Hobi teman saya adalah {{ hobby_2 }}. </br>
			 deskripsi diri : ya begitu saja </article>
		</div> 
		<h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2>
	</div>
</body>
</html>
