<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Feril Bagus</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static '/css/CustomCSS.css' %}">
		<script type="text/javascript" src="{% static '/jquery/anim.js' %}"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#njay">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="njay">
				<a class="navbar-brand" href="http://ferilbagus.herokuapp.com/lab-3/">
					<img src="http://icons.iconarchive.com/icons/graphicloads/100-flat/256/home-icon.png" width="30" height="30" alt="">
				</a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="http://ferilbagus.herokuapp.com/lab-3/#move2">Tentang Saya</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://ferilbagus.herokuapp.com/lab-3/#move3">Pengalaman & Pendidikan</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://ferilbagus.herokuapp.com/lab-3/#move4">Projek</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://ferilbagus.herokuapp.com/lab-3/#move5">Kontak</a>
					</li>
				</ul>
			</div>	
		</nav>
		
		<div class="jumbotron text-center opening" id="movez" style="margin-bottom:0">
			<div class="row">
				<div class="col img"> 
					<img class="img-fluid" src="https://vignette.wikia.nocookie.net/yugioh/images/c/c0/ExodiatheForbiddenOne-TF04-JP-VG.jpg/revision/latest?cb=20120420185052">
				</div>
				<div class="col text">
					<h1>Feril Bagus</h1>
					<p>Ilmu Komputer 2017</p>
				</div>
			</div>
		</div>
		
		<div class='container-fluid'>
			<div class="row">
			   <div class="col-md-6 col-sm-6 col-xs-12">
				<form method="post">
				 <div class="form-group ">
				  <label class="control-label " for="name">
				   Name
				  </label>
				  <input class="form-control" id="name" name="name" type="text"/>
				 </div>
				 <div class="form-group ">
				  <label class="control-label " for="date">
				   Date
				  </label>
				  <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
				 </div>
				 <div class="form-group ">
				  <label class="control-label requiredField" for="email">
				   Email
				   <span class="asteriskField">
					*
				   </span>
				  </label>
				  <input class="form-control" id="email" name="email" type="text"/>
				 </div>
				 <div class="form-group ">
				  <label class="control-label " for="subject">
				   Subject
				  </label>
				  <input class="form-control" id="subject" name="subject" type="text"/>
				 </div>
				 <div class="form-group ">
				  <label class="control-label " for="message">
				   Message
				  </label>
				  <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
				 </div>
				 <div class="form-group">
				  <div>
				   <button class="btn btn-primary " name="submit" type="submit">
					Submit
				   </button>
				  </div>
				 </div>
				</form>
			   </div>
			  </div>
		</div>
	</body>
</html>
